/* -------SECTION Odd()------- */

@media screen and (min-width: 601px) {
  .sctn_odd {
    min-height: 60vh;
  }

  .sctn_recruit {
    min-height: 60vh;
  }

  .smallscreens1 {
    display: none;
  }

  .smallscreens2 {
    display: none;
  }

  .a1 {
    color: #1b1b1b;
    font-size: 18px;
    font-weight: 900;
    margin: 16px 0 16px 0;
  }

  .a2 {
    color: #636363;
    font-size: 14px;
    font-weight: 500;
  }

  .tnp1 {
    margin-top: 80px;
  }
  .tnpcontainer {
    padding: 0 60px 0 60px;
  }

  .tnp2 {
    margin-top: 80px;
    margin-left: 160px;
  }
}

/* -------SECTION Odd and Even(small)------- */

@media screen and (max-width: 600px) {
  .sctn_odd {
    min-height: 60vh;
  }

  .bigscreens1 {
    display: none;
  }

  .bigscreens2 {
    display: none;
  }
  .a1 {
    color: #1b1b1b;
    font-size: 18px;
    font-weight: 900;
    margin: 16px 0 16px 0;
  }

  .a2 {
    color: #636363;
    font-size: 14px;
    font-weight: 500;
    text-align: justify;
    text-justify: inter-word;
  }

  .tnpcontainer {
    padding: 0 30px;
  }
}
