/* ----------About---------- */
@media screen and (min-width: 601px) {
  .aboutcontainer {
    min-height: 80vh;
  }

  .abouttext {
    padding: 20px 200px 20px 200px;
    line-height: 2;
    text-align: justify;
    text-justify: inter-word;
    color: #000;
    font-weight: 400;
    font-size: 15px;
  }
}

/* ----------About(small)---------- */
@media screen and (max-width: 600px) {
  .aboutcontainer {
    min-height: 80vh;
  }

  .abouttext {
    padding: 10px 30px;
    line-height: 2;
    text-align: justify;
    text-justify: inter-word;
    color: #000;
    font-weight: 500;
    font-size: 12px;
  }
}
