.student-profile{
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 2%;
    padding-right: 2%;
    background-color: rgb(245, 245, 245);
    // height: 80vh;

    .profile-box{
        padding: 7%;
        background-color: white;
        border-radius: 10px;
        // height: 100% !important;

        .avatar{
            width: 200px;
            height: 200px;
            overflow: hidden;
            border-radius: 50%;
        }

        .general{
            font-family: 'Roboto', sans-serif;
            font-weight: 500;

            div{
                margin-bottom: 10px;
                font-size: 15px;
            }

            .student-name{
                font-weight: bold;
                font-size: 1.2rem;
            }

            .email{
                font-style: italic;
            }
        }
    }

    .details-main-container{
        overflow-y: scroll;
        height: 70vh;
        .details-container{
            // height: 70vh;
            // overflow-y: scroll;

            .cred-box{
                background-color: white;
                border-radius: 10px;
                padding: 2%;
                width: 45%;
                margin: 0px 10px 20px 10px;
            }
        }
    }
    .details-main-container::-webkit-scrollbar {
      width: 5px;
    }
    
    /* Track */
    .details-main-container::-webkit-scrollbar-track {
      background: none;
    }
    
    /* Handle */
    .details-main-container::-webkit-scrollbar-thumb {
      background: grey;
    }
}

.edit-btn{
    display: flex;
    flex-direction: row-reverse;
}
.icon-btn{
    background-color: rgb(233, 233, 233);
}
.edit-icon{
    color: rgb(0, 95, 204);
}